
.font-mono {
  font-family: 'Geist Mono', monospace;
  letter-spacing: -0.32px;
}

:root {
  --app-shell-header-offset: 56px;
  --mapka-border: 2px solid #000;
  --mapka-box-shadow: 2px 2px 0 0 #000;
}

.mapka-think-shadow {
  border: var(--mapka-border);
  box-shadow: var(--mapka-box-shadow);
}

.mapka-input {
  border-width: 2px;

  &:not([data-error]) {
    border-color: #000;
  }
}

.mapka-select-dropdown {
  border-width: 2px;
  box-shadow: var(--mapka-box-shadow);


  &:not([data-error]) {
    border-color: #000;
  }
}

.mapka-switch-track {
  border-width: 2px;

  &:not([data-error]) {
    border: 2px solid #000;
  }
}

.mapka-switch-thumb {
  background-color: #000;
}
.mapka-switch-thumb::before {
  background-color: #000;
}

.mapka-nav-link {
  font-weight: 600;

  &[data-active="true"] {
    background: var(--mantine-primary-color-filled);
  }
}

.mapka-nav-link-label {
  color: black;
}
.mapka-nav-link-section {
  color: black;
}

.mapka-button {
  border-radius: var(--mantine-radius-default);

  &[data-size='md'] {
    border-width: rem(2px);
  }

  &[data-size='xs'] {
    border-width: rem(1.5px);
  }
}

.mapka-action-icon {
  &[data-size='md'] {
    border-width: rem(1px);
  }

  &[data-size='xs'] {
    border-width: rem(2.5px);
  }
}


svg.tabler-icon {
  stroke-width: 2;
}
